.template-div {
    border:solid 3px;
    width:765px;
    height:577px;
    position:absolute;
    top:79px;
    left:90px;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

.mainLeft{
	width:350px;
	height:550px;
	display:inline-block;	
}

.mainRight{
	width:350px;
	height:550px;
	display:inline-block;
	float:right;	
}

/* Normal button on the main page */
.mainPageButton {
     -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
	background-color:rgba(255, 255, 255, 0.6);
    width: 270px;
    height: 40px;
	padding: 10px;
	font-size:26px;
	font-weight:bold;
	font-family:Trebuchet MS;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin:5px 25px 5px 25px;
	text-align:center;
	border:2px solid #000000;
}.mainPageButton:active {
    position:relative;
    top:1px;
}

/* Translucent box for the app name on the main page */
.mainPageNameBox{
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
	background-color:rgba(255, 255, 255, 0.7);
    width: 290px;
    height: 45px;
	font-size:30px;
	font-weight:bold;
	font-family:Trebuchet MS;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin: 25px 25px 25px 25px;
	border:2px solid #000000;
}

/* Special button for the background image (b/c is thinner) */
.mainPageButtonSmall {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
	padding:10px;
    color:#000000;
    font-family:Trebuchet MS;
    font-size:18px;
    font-weight:bold;
    width: 150px;
    height: 80px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin: 270px 25px 25px 25px;
}
.mainPageButtonSmall:active {
    background:rbga(200, 200, 200, 0.6);
}

/* Timeline on the main page */
.mainPageTimeline {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
    color:#000000;
    font-family:Trebuchet MS;
    font-size:18px;
    font-weight:bold;
    width: 290px;
    height: 350px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin:25px 25px 25px 25px;
}

/* Navigation bar == left-hand thingy in the create and view event pages */
.nav-bar-link {
    display:inline-block;
    float:center;
    margin:0px -5px 0px 0px;
    padding:10px;
    width:250px;
    background:#BBBBBB;
    text-align:center;
    font-size:28px;
    font-family:Trebuchet MS;
}

.nav-bar-link.active {
    background:#FFFFFF;
}

/* Title for pages e.g. Recipe Book and Create New Event */
.pageTitle {
    font-family:Trebuchet MS;
    font-size:40px;
}

/* Body for the right side of event pages; super duper plain and boring */
.plainBody{
    margin:0px;
    padding:0px;
    background:#FFFFFF;
    font-family:sans-serif;
    font-size:28px;
    color:#000000;
}

.timelineItem{
	display:block;
	text-align:center;
	font-size:18px;
	font-family:Trebuchet MS;
	color:#000000;	
	font-weight:normal;
}
.timelineItemTop{
	display:block;
	text-align:center;
	font-size:18px;
	font-family:Trebuchet MS;
	color:#000000;	
	margin:15px 0px 0px 0px;
	font-weight:bold:
}

/* Normal button on the main page */
.homeButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#000099;
    border:1px solid #dcdcdc;
    display:table-cell;
    color:#FFFFFF;
    font-family:Trebuchet MS;
    font-size:16px;
    font-weight:bold;
    width: 70px;
    height: 30px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
	text-align:center;
}.homeButton:active {
    position:relative;
    top:1px;
}

.genericButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#000099;
    border:1px solid #dcdcdc;
    display:table-cell;
    color:#FFFFFF;
    font-family:Trebuchet MS;
    font-size:16px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;

text-align:center;

vertical-align:middle;
}.genericButton:active {
    position:relative;
    top:1px;
}
