.template-div {
    border:solid 3px;
    width:765px;
    height:577px;
    position:absolute;
    top:79px;
    left:90px;
	overflow:hidden;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

.mainLeft{
	width:350px;
	height:550px;
	display:inline-block;	
}

.mainRight{
	width:350px;
	height:550px;
	display:inline-block;
	float:right;	
}

/* Normal button on the main page */
.mainPageButton {
     -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
	background-color:rgba(255, 255, 255, 0.6);
    width: 270px;
    height: 40px;
	padding: 10px;
	font-size:26px;
	font-weight:bold;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin:5px 25px 5px 25px;
	text-align:center;
	border:2px solid #000000;
}.mainPageButton:active {
    position:relative;
    top:1px;
}

/* Translucent box for the app name on the main page */
.mainPageNameBox{
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
	background-color:rgba(255, 255, 255, 0.7);
    width: 290px;
    height: 45px;
	font-size:30px;
	font-weight:bold;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin: 25px 25px 25px 25px;
	border:2px solid #000000;
}

/* Special button for the background image (b/c is thinner) */
.mainPageButtonSmall {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
	padding:10px;
    color:#000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    width: 150px;
    height: 80px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin: 270px 25px 25px 25px;
}
.mainPageButtonSmall:active {
    background:rbga(200, 200, 200, 0.6);
}

/* Timeline on the main page */
.mainPageTimeline {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
    color:#000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    width: 290px;
    height: 350px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin:25px 25px 25px 25px;
}

.nav-bar-link 
{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	moz-box-align:left;
	border-width:2px;
	margin:0px -5px 0px 0px;
	width:180px;
	height:45px;
	background:#BBBBBB;
	border-style:none;
}

.nav-bar-link-2{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	moz-box-align:left;
	margin:0px -5px 0px 0px;
	width:182px;
	height:43px;
	background:#FFFFFF;
}

.nav-bar-link-short
{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	moz-box-align:left;
	border-width:2px;
	margin:0px -5px 0px 0px;
	width:180px;
	height:37px;
	background:#BBBBBB;
	border-style:none;
}

.nav-bar-link-short-2{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	moz-box-align:left;
	margin:0px -5px 0px 0px;
	width:182px;
	height:34px;
	background:#FFFFFF;
}

.nav-bar{
	display:inline-block;
	float:left;
	width:220px;
	height:500px;
	color:#000000;
	border:none;
}
		
		
/* Title for pages e.g. Recipe Book and Create New Event */
.pageTitle { 
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:40px;
	text-align:center;
	padding:10px 0px 10px 0px;
	display:inline-block;
}

.pageTitleName{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:30px;
	text-align:center;
	padding:0px;
	display:inline-block;
}

.titleBlock{
	text-align:center;
	display:inline-block;
	width:220px;	
	height:200px;
}

.plainBody
{
	margin:0px;
	padding:0px;
	background:#FFFFFF;
	font-family:sans-serif;
	font-size:28px;
	color:#000000;
}

.timelineItem{
	display:block;
	text-align:left;
	font-size:15px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#000000;	
	font-weight:normal;
	margin:0px 0px 0px 40px;
}
.timelineItemTop{
	display:block;
	text-align:left;
	font-size:18px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#000000;	
	margin:15px 0px 0px 5px;
	font-weight:bold:
}

/* Normal button on the main page */
.homeButton {
    -moz-box-shadow:inset 1px 1px 0px 0px #9999FF;
    -webkit-box-shadow:inset 1px 1px 0px 0px #9999FF;
    box-shadow:inset 1px 1px 0px 0px #9999FF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#000099;
    border:1px solid #000000;
	border-radius:5px;
    display:inline-block;
    color:#FFFFFF;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    width: 70px;
    height: 30px;
    text-decoration:none;
    text-shadow:1px 1px 0px #000000;
	text-align:center;
	margin:25px 0px 0px 35px;
}.homeButton:active {
    position:relative;
    top:1px;
}

.saveButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #FF9999;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#993366;
	border:1px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: 60px;
	height: 30px;
	margin: 0px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
}.saveButton:active {
	position:relative;
	top:1px;
}

.makeButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #99FF99;
	-webkit-box-shadow:inset 1px 1px 0px 0px #99FF99;
	box-shadow:inset 1px 1px 0px 0px #99FF99;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#009900;
	border:1px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: 60px;
	height: 30px;
	margin: 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #CCCCCC;
	text-align:center;
}.makeButton:active {
	position:relative;
	top:1px;
}

.horzSpace{
	width:138px;
	background:none;	
	display:inline-block;
}

.smallHorzSpace{
	width:65px;
	background:none;	
	display:inline-block;
}

.book{
	width:80px;
	height:100px;
	border:2px solid #000000;	
	margin:4px 10px 4px 10px;
	display:inline-block;
	text-align:center;
	float:center;
	padding:5px;
	background-color:#993300;
}

.shelf{
	width:638px;
	height:120px;
	background-color:#FFFFFF;
	margin:10px 25px 10px 25px;
	border-width:2px;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:none;
	border-color:#000000;
	display:inline-block;
}

.genericButton {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#CCCCCC;
    border:1px solid #000000;
	border-radius:5px;
    display:inline-block;
    color:#000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #FFFFFF;
	text-align:center;
	margin:5px;
}.genericButton:active {
    position:relative;
    top:1px;
}

.newFriendBox{
	border:2px solid #000000;
	border-radius:5px;
	display:none;
	width:290px;
	height:90px;
	color:#000000;
	background-color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	padding:7px 7px 7px 7px;
	text-align:left;
	float:right;
}

.newFriendButton {
    -moz-box-shadow:inset 1px 1px 0px 0px #99CCFF;
    -webkit-box-shadow:inset 1px 1px 0px 0px #99CCFF;
    box-shadow:inset 1px 1px 0px 0px #99CCFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#6699CC;
    border:1px solid #000000;
	border-radius:10px;
    display:inline-block;
    color:#000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
	height:70px;
	width:60px;
    padding:20px;
    text-decoration:none;
    text-shadow:1px 1px 0px #CCCCCC;
	text-align:center;
	float:right;
}.newFriendButton:active {
    position:relative;
    top:1px;
}

.blueBody{
	background:#99CCFF;
	height:576px;
}

.strawberryBody{
	background:url("../../revisedMockups/assets/strawberriesBg.png");
	height:576px;
}
		
.eventBox{
	display:inline-block;
	float:center;
	width:690px;
	height:453px;
	margin: 17px -5px 0px 35px;
	background:#FFFFFF;
	border:solid 2px #000000;
}
		
.recipeBox{
	display:inline-block;
	float:center;
	background-color:#FFFFFF;
	width:450px;
	height:405px;
	border:none;
}
	
.headingSmall {
	display:inline-block;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:28px;
	padding:10px;
}

.align-bottom-left
{
	position:relative;
	bottom:20
	left:5
}	

a:link{
	color:#000000;
	text-decoration:none;
}		
a:visited{
	color:#000000;
	text-decoration:none;
}		
a:hover{
	color:#000000;
	text-decoration:none;
}		
a:active{
	color:#000000;
	text-decoration:none;
}		

.nav-bar-toggle{
	display:none;
	width:450px;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
}
.nav-bar-toggle-2{
	display:inline-block;
	width:450px;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
}

.uploadRecipeButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #FF99CC;
	-webkit-box-shadow:inset 1px 1px 0px 0px #FF99CC;
	box-shadow:inset 1px 1px 0px 0px #FF99CC;
	background-color:#990066;
	padding:7px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #000000;
	display:inline-block;
	float:center;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	width:300px;
	height:25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
}.uploadRecipeButton:active {
	position:relative;
	top:1px;
}

.friendsBox{
	display:inline-block;
	margin:auto;
	width:370px;
	height:400px;
	color:#FFFFFF;
	text-align:center;
}

.friendBlock{
	display:inline-block;
	float:left;
	width:110px;
	height:120px;
	margin:5px 0px 5px 0px;
	text-align:center;
	border:none;
}

.friend{
	display:inline-block;
	float:center;
}

.friendTag{
	display:inline-block;
	float:center;
	color:#000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
}

.submitButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #99FF99;
	-webkit-box-shadow:inset 1px 1px 0px 0px #99FF99;
	box-shadow:inset 1px 1px 0px 0px #99FF99;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#009900;
	border:2px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	border-radius:5px;
	height: 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.submitButton:active {
	position:relative;
	top:1px;
}	

.cancelButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #FF9999;
	-webkit-box-shadow:inset 1px 1px 0px 0px #FF9999;
	box-shadow:inset 1px 1px 0px 0px #FF9999;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#990000;
	border:2px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	border-radius:5px;
	height: 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.cancelButton:active {
	position:relative;
	top:1px;
}

.buttonBlock{
	display:inline-block;
	width:300px;
	text-align:center;
	margin:30px 10px 10px 10px;
}

.alignLeftBlock{
	text-align:left;
}

.top-row{
	width:765px;
	height:115px;
	display:inline-block;
}

.tabs{
	display:inline-block;
	margin:0px;
	padding:0px;
	width:756px;
	height:33px;
}

.recipeBook{
	width:956px;
	height:430px;
	background-color:#FFFFFF;
	position:relative;
	left:-65px;
}

.recipeBookSingle{
	width:765px;
	height:430px;
	background-color:#FFFFFF;
}

.vertical-buttons{
	margin:10px 10px;
	display:inline-block;
	width:180px;
}

.verticalSmall{
	margin:10px 10px;
	display:inline-block;
	width:100px;
	height:100px;
	float:left;
	text-align:center;
}

.recipeCard{
	border:solid 2px #000000;
	background:#FFFFFF;
	width: 160px;
	/*float: left; */
	height: 160px;
	padding:0px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	text-align:center;
	/*display:inline-block;*/
}

.greaterRecipeCard{
	width:160px;
	height:175px;
	margin:5px 5px 20px 5px;	
	display:inline-block;
}

.recipeRow{
	float: left; 
	overflow: hidden; 
	margin: 0px;
	position:relative;
	left:-30px;
	display:inline-block;
	min-width:200px;
	height:300px;
}

.recipeColumn{
	float: left; 
	margin: 7px 7px;
	position:relative;
	left:-30px;
	display:inline-block;
	width:180px;
	height:410px;
	/*min-width:200px;
	height:300px;*/
}

.recipeColumnRight{
	float: left; 
	margin: 7px 0px 0px 0px;
	position:relative;
	left:-20px;
	display:inline-block;
	width:180px;
	height:410px;
	overflow:hidden;
	/*min-width:200px;
	height:300px;*/
}

.recipeColumnLeft{
	float: left; 
	margin: 7px 10px 0px 0px;
	position:relative;
	left:-30px;
	display:inline-block;
	width:180px;
	height:410px;
	overflow:hidden;
	text-align:left;
	padding:0px;
	/*min-width:200px;
	height:300px;*/
}

/* Box that holds filter stuff */
.filterBox{
	border:solid 2px #000000;
	background:#FFFFFF;
	width: 200px;
	height: 120px;
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	margin:5px;
	display:inline-block;
	float:right;

}

.smallHeading{
	color:#000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
}

.filterRow{
	/*display:inline-block;*/
	width:200px;
	border:none;
	margin: 5px 10px;
}

.inputBox{
	float:left;
	display:inline-block;
	/*background: #FFFFFF;
	border: 2px solid #000000;
	color: #000000;
	width: 70px;
	text-align:left;*/
}

.recipeTab{
	padding:5px;
	margin:0px;
	background:#999999;
	border:none;
	color:#000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	text-align:center;	
	display:inline-block;	
}

.recipeTab2{
	padding:5px;
	margin:0px;
	background:#FFFFFF;
	border:none;
	color:#000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	text-align:center;	
	display:inline-block;	
}

.largeRecipeCard{
	border:2px solid #000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:18px;
	text-align:left;	
	display:inline-block;			
	padding:10px 10px 10px 10px;
	width:692px;
	height:357px;
	float:left;
	margin:25px 25px 25px 25px;
}

.largeRecipeColumn{
	border:none;
	display:inline-block;
	height:330px;
	width:320px;
	padding:10px 10px 10px 10px;
	background-color:#FFFFFFFF;
	margin:0px 0px 0px 0px;
	float:left;
}

.editButton{
	-moz-box-shadow:inset 1px 1px 0px 0px #FFFF99;
	-webkit-box-shadow:inset 1px 1px 0px 0px #FFFF99;
	box-shadow:inset 1px 1px 0px 0px #FFFF99;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#999900;
	border:1px solid #000000;
	border-radius:5px;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	height: 25px;
	margin: 10px 5px 0px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.editButton:active {
	position:relative;
	top:1px;
}

.pictureButton{
	-moz-box-shadow:inset 1px 1px 0px 0px #CCCCFF;
	-webkit-box-shadow:inset 1px 1px 0px 0px #CCCCFF;
	box-shadow:inset 1px 1px 0px 0px #CCCCFF;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#6666FF;
	border:2px solid #000000;
	border-radius:5px;
	display:inline-block;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	height: 25px;
	margin: 10px 5px 0px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.pictureButton:active {
	position:relative;
	top:1px;
}
		
.largeRecipeButtons{
	border:none;
	display:inline-block;
	height:100px;
	width:230px;
	float:center;
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	text-align:center;
}

.calendar{
	width:350px;
	height:200px;
	display:inline-block;
	float:center;	
	text-align:center;
}

.date{
	width:48px;
	height:38px;
	display:inline-block;
	margin:0px 0px 0px 0px;
	text-align:center;	
	border:1px solid #000000;
	float:left;
}

.eventTitleWrapper{
	width:540px;
	height:50px;	
	display:inline-block;
	text-align:center;
}

.subTimeline{
	width:270;
	margin:0px 9px 0px 9px;
}

.recipeItem{
	display:block;	
}


.select:hover {
	cursor:pointer;
}

.friendsSelected {
	height:120px;
	overflow:hidden;
}
.friendsSelectedNormal {
	display:inline-block;
	height:120px;
	overflow:hidden;
	width:330px;
	float:left;
}

.friendsSelectedOverflow {
	display:inline-block;
	height:120px;
	overflow:hidden;
	width:300px;
	position:relative;
	left:330px;
	top:-120px;
}
