.template-div {
    border:solid 3px;
    width:765px;
    height:577px;
    position:absolute;
    top:79px;
    left:90px;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

.mainLeft{
	width:350px;
	height:550px;
	display:inline-block;	
}

.mainRight{
	width:350px;
	height:550px;
	display:inline-block;
	float:right;	
}

/* Normal button on the main page */
.mainPageButton {
     -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
	background-color:rgba(255, 255, 255, 0.6);
    width: 270px;
    height: 40px;
	padding: 10px;
	font-size:26px;
	font-weight:bold;
	font-family:Trebuchet MS;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin:5px 25px 5px 25px;
	text-align:center;
	border:2px solid #000000;
}.mainPageButton:active {
    position:relative;
    top:1px;
}

/* Translucent box for the app name on the main page */
.mainPageNameBox{
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
	background-color:rgba(255, 255, 255, 0.7);
    width: 290px;
    height: 45px;
	font-size:30px;
	font-weight:bold;
	font-family:Trebuchet MS;
	color:#000000;
	text-decoration:none;
	text-shadow: 1px 1px 0px #777777;
	text-align:center;
	display:inline-block;
	margin: 25px 25px 25px 25px;
	border:2px solid #000000;
}

/* Special button for the background image (b/c is thinner) */
.mainPageButtonSmall {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
	padding:10px;
    color:#000000;
    font-family:Trebuchet MS;
    font-size:18px;
    font-weight:bold;
    width: 150px;
    height: 80px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin: 270px 25px 25px 25px;
}
.mainPageButtonSmall:active {
    background:rbga(200, 200, 200, 0.6);
}

/* Timeline on the main page */
.mainPageTimeline {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background-color:rgba(255, 255, 255, 0.6);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    display:inline-block;
    color:#000000;
    font-family:Trebuchet MS;
    font-size:18px;
    font-weight:bold;
    width: 290px;
    height: 350px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
    text-align:center;
	border:2px solid #000000;
	margin:25px 25px 25px 25px;
}

.nav-bar-link 
{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:Trebuchet MS;
	moz-box-align:left;
	border-width:2px;
	margin:0px -5px 0px 0px;
	width:180px;
	height:45px;
	background:#BBBBBB;
	border-style:none;
}

.nav-bar-link-2{
	display:inline-block;
	float:center;
	padding:10px;
	text-align:left;
	font-size:24px;
	font-family:Trebuchet MS;
	moz-box-align:left;
	margin:0px -5px 0px 0px;
	width:182px;
	height:43px;
	background:#FFFFFF;
}

.nav-bar{
	display:inline-block;
	float:left;
	width:220px;
	height:500px;
	color:#000000;
	border:none;
}
		
		
/* Title for pages e.g. Recipe Book and Create New Event */
.pageTitle { 
	font-family:Trebuchet MS;
	font-size:40px;
	text-align:center;
	padding:10px
}

.plainBody
{
	margin:0px;
	padding:0px;
	background:#FFFFFF;
	font-family:sans-serif;
	font-size:28px;
	color:#000000;
}

.timelineItem{
	display:block;
	text-align:left;
	font-size:15px;
	font-family:Trebuchet MS;
	color:#000000;	
	font-weight:normal;
	margin:0px 0px 0px 40px;
}
.timelineItemTop{
	display:block;
	text-align:left;
	font-size:18px;
	font-family:Trebuchet MS;
	color:#000000;	
	margin:15px 0px 0px 5px;
	font-weight:bold:
}

/* Normal button on the main page */
.homeButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#000099;
    border:1px solid #dcdcdc;
    display:table-cell;
    color:#FFFFFF;
    font-family:Trebuchet MS;
    font-size:16px;
    font-weight:bold;
    width: 70px;
    height: 30px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
	text-align:center;
}.homeButton:active {
    position:relative;
    top:1px;
}

.genericButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#000099;
    border:1px solid #dcdcdc;
    display:table-cell;
    color:#FFFFFF;
    font-family:Trebuchet MS;
    font-size:16px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;

text-align:center;

vertical-align:middle;
}.genericButton:active {
    position:relative;
    top:1px;
}

.blueBody
{
	background:#99CCFF;
	height:576px;
}
		
.eventBox{
	display:inline-block;
	float:center;
	width:690px;
	height:453px;
	margin: 17px -5px 0px 35px;
	background:#FFFFFF;
	border:solid 2px #000000;
}
		
.recipeBox{
	display:inline-block;
	float:center;
	width:450px;
	height:405px;
	border:none;
}
	
.headingSmall {
	display:inline-block;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:28px;
	padding:10px;
}

.align-bottom-left
{
	position:relative;
	bottom:20
	left:5
}

input[type="text"]{
	display:inline-block;
	float:center;
	background: #FFFFFF;
	border: 2px solid #000000;
	padding:7px;
	color: #000000;
	width: 430px;
	text-align:left;
	font-family:Trebuchet MS;
	font-size:18px;
}		

a:link{
	color:#000000;
}		
a:visited{
	color:#000000;
}		
a:hover{
	color:#000000;
}		
a:active{
	color:#000000;
}		

.nav-bar-toggle{
	display:none;
	width:450px;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:18px;
}
.nav-bar-toggle-2{
	display:inline-block;
	width:450px;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:18px;
}

.uploadRecipeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#990066;
	padding:7px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #dcdcdc;
	display:inline-block;
	float:center;
	color:#FFFFFF;
	font-family:Trebuchet MS;
	font-size:18px;
	width:300px;
	height:25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
}.uploadRecipeButton:active {
	position:relative;
	top:1px;
}

.friendsBox{
	display:inline-block;
	margin:auto;
	width:370px;
	height:400px;
	color:#FFFFFF;
	text-align:center;
}

.friendBlock{
	display:inline-block;
	float:center;
	width:110px;
	height:120px;
	margin:5px 0px 5px 0px;
	text-align:center;
	border:none;
}

.friend{
	display:inline-block;
	float:center;
}

.friendTag{
	display:inline-block;
	float:center;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:16px;
	text-align:center;
}

.submitButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #99FF99;
	-webkit-box-shadow:inset 1px 1px 0px 0px #99FF99;
	box-shadow:inset 1px 1px 0px 0px #99FF99;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#009900;
	border:2px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:Trebuchet MS;
	font-size:16px;
	border-radius:5px;
	width: 70px;
	height: 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.submitButton:active {
	position:relative;
	top:1px;
}	

.cancelButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #FF9999;
	-webkit-box-shadow:inset 1px 1px 0px 0px #FF9999;
	box-shadow:inset 1px 1px 0px 0px #FF9999;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#990000;
	border:2px solid #000000;
	display:inline-block;
	color:#FFFFFF;
	font-family:Trebuchet MS;
	font-size:16px;
	border-radius:5px;
	width: 70px;
	height: 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	text-align:center;
	padding:4px;
}.cancelButton:active {
	position:relative;
	top:1px;
}

.buttonBlock{
	display:inline-block;
	width:300px;
	text-align:center;
	margin:30px 10px 10px 10px;
}

.alignLeftBlock{
	text-align:left;
}
