body {
	margin:0px;
	padding:0px;
	background:#471B00;
	font-family:sans-serif;
	font-size:16px;
	color:#471B00;
}

img.inline {
	margin:8px;
}

.centered {
	margin:0px auto;
	text-align:left;
	width:1210px;
}

.header {
	margin:0px 0px 10px 0px;
	padding:5px 0px;
	height:150px;
	width:100%;
	background:#9999FF;
	text-align:center;
}

.headerRight {
	margin:0px 0px 10px 0px;
	padding:5px 0px;
	height:150px;
	width:20%;
	background:#9999FF;
	text-align:center;	
}

#team-name {
	font-size:30px;
	margin:5px 0px;
	display:block;
}

#class-name {
	font-size:24px;
	margin:5px 0px;
	display:block;
}

.disp-window {
	display:inline-block;
	float:left;
	padding:0px;
	width:1030px;
	background:#FFFFDD;
}

.nav-bar {

}

.nav-bar-link {
	display:inline-block;
	float:center;
	margin:0px -5px 0px 0px;
	padding:10px;
	width:238.5px;
	background:#782F02;
}

.nav-bar-link.active {
	background:#FFFFDD;
}

.nav-bar-link > a {
	color:#9999FF;
	float:center;
	text-decoration:none;
	margin:0px auto;
	display:block;
}

.nav-bar-link.active > a {
	float: center;
	color:#471B00;
	text-decoration:none;
}

.side-bar {
	display:inline-block;
	float:left;
	width:150px;
	margin:0px 0px 0px 10px;
	padding:10px;
}

.side-bar-link {
	padding:10px 0px;
}


.side-bar-link > a {
	color:#FFFFDD;
	text-decoration:none;
}

.sub-link {
	margin:5px 0px 5px 30px;
	font-size:12px;
}

.article {
	padding:10px;
	margin:0px 0px 50px 0px;
}

table {
	border-collapse:collapse;
	border-spacing:0px;
}

td {
	padding:5px;
	margin:0px;
	border:solid 2px;
}
